        body {
            font-family: Signo-Thin;  
            margin: 0;
        }
        h1 {
            font-family: Trajan Pro, sans-serif;
            font-weight: 100;
            text-align: center;
            margin-right: auto;
            font-size: 35px;
            margin-top: 0;
            margin-bottom: 0;
            
        }

        h2 {
            font-weight: 100;
            font-family: Signo-Thin, sans-serif;
            color: #b0982c;
            font-size: 2.5em;
        }
        
/*NAV BAR*/

        #nav {
            height: auto;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: center;

        }   

        li {
            
            display: inline;
        }

        li a {
            display:inline-block;
            color: #b0982c;
            font-size: 1.3em;
            text-align: center;
            padding: 10px 15px;
            text-decoration: none;
            
        }

        li a:hover {
            color: #cbe7f8;
        }
        
        #navbar {
            border-bottom: 2px solid;
            border-color: black;
            
        }

        #logo {
            font-family: Grafolita Script;
            font-size: 3em;
            display: inline-block;
            margin: auto;
            padding-top: 10px;
            color: #b0982c;
        }

        #logo_div {
            width:40%;
            height: auto;
            margin: 0 auto;
            display: block;
            text-align: center;
        }

/*ITEMS AND DESCRIPTIONS*/
.leftdiv {
    text-align: center;
    width: 100%;
    clear: both;
    display:inline-block;
}
.itemleft {
    width: 40%;
    height: auto;
    padding: 3.5%;
    float: left;
}
.rightdiv {
    text-align: center;
    clear: both;
    width: 100%;
    display: inline-block;
}
.itemright {
    width: 40%;
    height: auto;
    padding: 3.5%;
    float: right;
}
.itemname {
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
    margin-bottom: 2%;
}
.desc {
    text-align: center;
    font-size: 1.2em;
}
.addtocart {
    border: 3px solid #b0982c;
    background-color: rgba(243, 251, 255, 0.28);
    box-shadow: none;
    width: 160px;
    height: 60px;
    font-size: 1.3em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}
.addtocart:hover {
    color: white;
    background-color: #b0982c;
}


/* FOOTER */
        span {
            padding-top: 10px;
            align-content: center;
            font-size: 12px;
            margin: 0 auto;
            
            
        }
        #foot {
        width: 100vw;
        margin: 0 auto;
        display: block;
        text-align: center;
        }

/* MEDIA QUERIES FOR IPHONE/ANDROID */ 

@charset "UTF-8";

///////////////////////////////////////////////////////////
@media screen and (max-width: 460px) {
///////////////////////////////////////////////////////////


body {
background: green;
}

}