@import url(https://fonts.googleapis.com/css?family=Hind);

img {
    height:65px;
    width:auto;
    }

h3 {
    padding: 20px;
    }

body {
    font-family: 'Hind', sans-serif;
    align-content:center;
}
    
table {
    background-color:#B0982C;
    margin:0;
    align-content:center;
    text-align:center;
    padding-top:0px;
}
    
th {
    font-family:Grafolita Script;
    font-size:30px;
    color:white;
}
    
tr {
    background-color:#B0982C;
    border-right: solid white;
    margin:0;
}
    
td:hover {
    background-color: #B0982C;
    padding-top:-10px;
}
    
td{
    width:100vw;
    background-color:white;
    margin:0 auto;
}  
    
buttons{
    width:60px;
    background-color:#666666; 
}  
    
tr:nth-child(even) {
    background-color: #f2f2f2;
}
    
input {
    width:180px;
    height:40px;
    font-size:20px;
    padding:10px;
}

#insert {
    text-align:center;
}

#insertProduct {
    background-color:white;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border:2px solid #B0982C;
    cursor:pointer;
    color:black;
    font-family:"Hind";
    font-size:17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #B0982C;
    width:140px;
    height:40px;
}
#insertProduct:hover {
	background-color:#C4B269;
    color:white;
    
}
    
insertProduct:active {
	position:relative;
	top:1px;
}

button {
    background-color:white;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
    border:2px solid #B0982C;
    cursor:pointer;
    color:black;
    font-family:"Hind";
    font-size:17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #B0982C;
    width:50px;
    height:30px;
    }

button:hover {
	background-color:#C4B269;
    color:white;
    
}

h2 {
    font-family:Trajan Pro;
    font-size:50px;
    text-align:center;
}
